
<div class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a class="sidenavObject" href="/"> <span class="sidenavObject"></span>Home</a>
      <a href="/auth/login"><span class="sidenavObject"></span>LogIn</a>
      <a href="/auth/signup"><span class="sidenavObject"></span>SignUp<span class="fsidenavObject"></span></a>
      <a href="/favorites"> <span class="sidenavObject">&#xe008;</span>Favorites</a>
      <a href="/waRivers"><span class="sidenavObject">&#xe003;</span>Washington Rivers</a>
        <a href="/auth/logout" ><span class="sidenavObject"></span>Logout<span style="font-size:24px" class="fa">&#xf135; </span></a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

			


