<nav class='navbar navbar-expand-lg navbar-light bg-faded py-lg-4'>
	<div class='container'>
		<a class='navbar-brand text-uppercase text-expand font-weight-bold d-lg-none' href='#'>Flow-Finder</a>
		<button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
			<span class='navbar-toggler-icon'></span>
		</button>
		<div class='collapse navbar-collapse' id='navbarResponsive'>
			<ul class='nav-item active px-lg-4'>
				<li class='nav-item active px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/"> Home <span class='sr-only'>(current)</span></a>
				</li>
				<li class='nav-item px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/auth/signup">SignUp </a>
				</li>
				<li class='nav-item px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/auth/login">LogIn</a>
				</li>
				<li class='nav-item px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/auth/logout">LogOut</a>
				</li>
				<li class='nav-item px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/waRivers">Washington Rivers</a>
				</li>
				<li class='nav-item px-lg-4'>
					<a class='nav-link text-uppercase text-expand' href="/favorites">Favorite Rivers</a>
				</li>
			</ul>
		</div>
	</div>
</nav>



			


