
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/auth/login">LogIn</a>
  <a href="/auth/signup">SignUp</a>
  <a href="/favorites">Favorite Rivers</a>
  <a href="/waRivers">All Rivers in Washington</a>
  <a href="/auth/logout">LogOut</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Flow Finder</span>

