<h2>Favorite Flows</h2>

<% waRivers.forEach(function(rivers) { %>
   <div class="well">
     <h2><%= rivers.riverName %></h2>
     <p><%= rivers.riverFlow %> cfs</p>
     <a href="/favorites/<%= waRivers.riverName %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
     <hr>
     <hr>
   </div>
 <% }); %>
</div>

