<h2>Favorite Flows</h2>

<% waRivers.forEach(function(rivers) { %>
   <!-- console.log(waRivers); -->
   <div class="well">
     <h2><%= rivers.riverName %></h2>
     <p><%= rivers.id %></p>
     <hr>
     <hr>
   </div>
 <% }); %>
</div>

